@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

.text{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.arrow__img{
    width: 15px;
    margin-left: 10px;
}

.logo_link:hover{
    border: 3px solid rgba(16, 112, 177, 0.2);
}

.container{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 113px;
}

.text_project{
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;

}
.what-we-do{
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.top{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);    
}

.top_text{
    width: 425px;
}

.top__heading {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.top_button:hover{
    background: #64a1d6;
}

.top__box{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.link_info{
    text-decoration: none;
    color: #FFFFFF;
}
.link_info:hover {
    text-decoration: underline;
}

.top__info{
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(image/top_back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
    padding-bottom: 100px; 
}
 
.lower_headline {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.card{
    width: 359px;
    box-sizing: border-box;
    padding: 40px 32px 44px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card__img {
    align-self: center;
    margin-bottom: 51px;
    width: 211px;
}

.card-box{
    display: flex;
    justify-content: space-between;   
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 1140px;
}

.card__link{
    margin-top: 10px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.card__link:hover{
    text-decoration: underline
}

.header{
    display: flex;
    justify-content: space-between;   
    list-style-type: none;
    padding-top: 42px;
}

.project{
    max-width: 1140px;
    margin: 0 auto;
}

.project__img{
    width: 100%;
}

.project__text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top:64px;
    right: 64px;
    font-weight: 300;

}

.project__item{
    position: relative;
    flex-grow: 1;
}

.project__parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    position: relative;
    flex-grow: 1;
}
.project__item_margin{
    margin-right: 32px;
}

.project__text_parent{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top:32px;
    left: 32px;
}

.footer_main_box{
    background: #316099;
    margin-top: 112px;
}

.footer_top{
    display: flex;
    justify-content: space-between;
    padding-top: 91px;
    padding-bottom: 96px;
    align-items: center;
}

.footer_top_box{
    max-width: 495px;
}

.footer_hr{
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer_text_top{
    color: #FFFFFF;
}

.footer_top_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    height: 26px;
    background: #5A98D0;  
    padding: 15px 80px;
    text-decoration: none; 
    display: inline-block;
}

.footer_top_button:hover{
    background: #669fd1;
}

.footer_title{
    padding-bottom: 32px;
    width: 341px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 1;
}

.footer_botton{
    margin-top: 64px;
    color: #FFFFFF;
    opacity: 1;
    display: flex;
    justify-content: space-between;

}

.footer_contacts{
    display: flex;
    justify-content: space-between;
}

.footer_rights{
    margin: 64px 0;
}

.footer_adress{
    width: 317px;
}

.footer_telephone{
    width: 317px;
}

.footer_email{
    width: 317px;
}

.text_rights{
    color: #FFFFFF;
    opacity: 0.4;
}

.footer_rights{
    margin: 64px 0;
    display: inline-block;
}

.footer_marker{
    display: flex;
    max-width: 352px;
    justify-content: space-around;
}

.footer_box_info{
    max-width: 317px;
    margin-left: 20px;
}
.top_contacts{
    background-image: url(image/top_back_cont.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 54px;
    padding: 50px 0;
}
.top__contacts_heading{
    max-width: 780px;
    text-align: center;
}

.top__contacts_headline{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.top__contacts_text{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.contact_body{
    display: flex;
    justify-content: space-between;
}

.contact_form{
    width: 540px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 56px;
    margin-top: 57px;
}

.form_heading-mini{
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.form_text{
    margin-top: 32px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

.used_text_box{
    padding: 21px 42px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 300;
    margin-top: 8px;
    width: 100%;
    height: 72px;
}

.used_text_box_massage{
    padding: 21px 42px;
    height: 144px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 8px;
    width: 100%;
    height: 144px;
}

.used_text{
    margin: 21px 0 21px 42px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
}
.form_button{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF; 
    padding: 23px 0;
    margin-top: 72px;
    width: 100%;
    height: 72px;
}

.form_button:hover{
    background: #6ba4d6;
}

.contact_map{
    margin-top: 96px;
}
.contact_info{
    margin-top: 135px;
    margin-right: 100px;
}
.contact_info_head{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-top: 40px;
    margin-bottom: 8px;
}

.icon_contact{
    margin-right: 19px;
    margin-top: 16px;
}

.text_phone_contact{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    list-style-type: none;
}

.contact_address{
    width: 300px;
    margin-top: 24px;
}

.text_online_contact{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    list-style-type: none;
}

.online_contact_link{
    color: #1F3F68;
    text-decoration: none;
}

.online_contact_link:hover{
    text-decoration: underline
}

.footer_marker_A::before{
    content: "A.";
}
.footer_marker_T::before{
    content: "T.";
}
.footer_marker_E::before{
    content: "E.";
}




@media (max-width: 1024px) {
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }

    .top__info{
       background-position: right 220px;
    }

    .card{
        margin-bottom: 32px;
        width: 335px;
        height: 448px;
    }

    .card-box{
        flex-direction: column;
        align-items: center;
    }

    .footer_top_button{
        padding: 7px 30px;
    }
    .footer_top_box{
        max-width: 336px;
    }
    .footer_top{
        padding-left: 92px;
        padding-right: 92px;
        padding: 47px 92px 64px;
    }
    .footer_botton{
        padding-left: 92px;
        padding-right: 92px;
        flex-direction: column;
        align-items: left;
    }
    .footer_box_info{
        max-width: 455px;
        margin-left: 40px;
      
    }
    .footer_marker{
        max-width: 500px;
        justify-content: left;
        margin-bottom: 25px;
    }
    .footer_rights{
        padding-left: 92px;
        padding-right: 92px;
    }
    .contact_body{
        flex-direction: column;
        align-items: center;
    }
    .contact_info {
        margin-right: 0;
    }
}

@media (max-width: 717px){

    .header{
        padding-top: 24px;
    }

    .top__heading{
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
    }

    .top_text{
        width: 100%;
        text-align: center;
    }

    .container{
        padding-left: 16px;
        padding-right: 16px;
    }
    .top {
        min-height: 376px;
        box-sizing: border-box;
    }
    .top__info{
        padding-top: 36px;
        padding-bottom: 41px;
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top_button{
        font-size: 12px;
        line-height: 26px;
        text-align: center;
        padding: 0 8px;
        margin-top: 32px;

    }
    .top__heading{
        margin-bottom: 12px;
        max-width: 260px;
    }
    .heading{
        font-size: 24px;
        line-height: 28px;       
        letter-spacing: normal;
    }
    
    .what-we-do{
            padding-top: 48px;
    }

    .card{
        width: 100%;
        padding: 40px 30px 25px;
    }

    .card-box{
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .text_project {
        width: 100%;
    }

    .project__text{
        font-size: 16px;
        line-height: 19px; 
        top: 16px;
        right: 16px;
    }

    .project__text_parent{
        left: 16px;
        top: 26px;
        font-size: 16px;
        line-height: 19px;
    }

    .project__parent{
        flex-direction: column;
        margin-top: 16px;
    }

    .project__item_margin{
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer_top{
        flex-direction: column;
        text-align: center;
        padding: 18px 0px 41px;
    }
    .footer_top_box{
        padding-bottom: 40px;
        max-width: 343px
    }
    
    .footer_title{
        font-size: 24px;
        line-height: 28px;
        width: 278px; 
        margin: auto;
    }

    .footer_rights{
        padding:0;
    }
    
    .footer_main_box{
        text-align: center;
        margin-top: 64px;
    }

    .footer_botton{
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        margin-top: 32px;
    }

    .footer_rights{
        margin: 32px 0;
    }

    .footer_marker{
        margin-bottom: 17px;
    }
    .contact_info{
        margin-top: 46px;
        margin-left: auto;
        margin-right: auto;
    }
    .contact_form{
        max-width: 345px;
        padding: 35px;
        width: 80%;
    }
    .used_text{
        margin: 13px 0 13px 26px;
    }
    .top__contacts_text{
        font-size: 16px;
    }
    .top__contacts_headline{
        font-size: 24px;
        line-height: 28px;
    }
    .form_heading-mini{
        margin-bottom: 31px;
        font-size: 16px;
    }
    .form_text{
        font-size: 14px;
    }
    .form_button{
        margin-top: 46px;
    }
    .footer_marker_A::before{
        content: "1.";
    }
    .footer_marker_T::before{
        content: "2.";
    }
    .footer_marker_E::before{
        content: "3.";
    }
    
 

}
